// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
}
header {
  padding: 0.5rem;
}
main {
  flex: 1;
  padding: 0.5rem;
  padding-bottom: 4rem;

  img {
    max-width: 100%;
  }

}

footer {
  padding: 2px;
  font-size: 0.9em;
}

header,
main,
footer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  margin-top: 2rem;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.cta {
  display: none;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: 6rem;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  transform: rotate(20deg);
  cursor: pointer;
  color: white;
  font-weight: 700;
  box-shadow: #184709 1px 1px 8px 0;

  background: #c2e863; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #c2e863 0%, #c2e863 25%, #77d61d 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #c2e863 0%,#c2e863 25%,#77d61d 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #c2e863 0%,#c2e863 25%,#77d61d 100%);

}

.visible-desktop {
  display: none;
}

.picture-element {
  text-align: center;
  display: block;
  max-width: 100vw;
  max-height: 100vh;
  > img {
    max-width: 100vw;
  }
}

@media screen and (min-width: 800px) {
  .header-text {
    padding-right: 11rem;
  }
  .visible-desktop {
    display: block;
  }
}
